*{
    margin: 0;
    padding: 0;
}


fieldset{
            font-family: sans-serif;
            color:#000000;
            background-color: rgb(159, 241, 241);
            margin-left: 10%;
            margin-left: 10%;
            margin-top: 3%;
            margin-right: 40%;
            justify-content: center;
            }
#body  
        {
        background-color:#188ef5;
        font-family: sans-serif;
        font-size: 1em;
        color:blue;
        margin-left: 36%;
        margin-top: 3%;
        justify-content: center;
        }
input, button{
    border: radius 5px;
    box-shadow: 2px 2px 2px;
}
.tabela{
    font-family: sans-serif;
            color:#0e0000;
            background-color: rgb(159, 241, 241);
            margin-left: 10%;
            margin-left: 10%;
            margin-top: 3%;
            margin-right: 40%;
            justify-content: center;
            
}
.imagem{
box-shadow: #000000;
border-color: #0e0000;
}
div#bordaRedonda{
    border-radius: 5px;
}
.botao{
    box-shadow: 3px 3px 3px;
}


